[submodule "Pride/External/SDL"]
	path = Pride/External/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Pride/External/SDL_image"]
	path = Pride/External/SDL_image
	url = https://github.com/libsdl-org/SDL_image
